@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: red;
}

/*headings*/

h1{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #cccccc;
}

#logo{
    text-align: center;
    font-size: 300%;
    list-style-type: none;
    text-decoration: none;
}

#menu{
    font-size: 150%;
    letter-spacing: 5px;
}

#menu li{
    text-align: center;
    list-style-type: none;
}

#menu a{
    text-decoration: none;
    color:#cfcfcf;
}

#menu a:hover{
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    background-color: #778B90;
}

.active{
    border: 2px solid #cfcfcf;
    border-radius: 5px;
}