@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #cccccc;
}

/*headings*/

h1{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #cccccc;
}

#logo{
    text-align: center;
    font-size: 300%;
    list-style-type: none;
    text-decoration: none;
    background-color: #163635;
}

#menu{
    font-size: 130%;
    letter-spacing: 5px;
    background-color: #163635;
}

#menu li{
    text-align: center;
    list-style-type: none;
}

#menu a{
    text-decoration: none;
    color:#cfcfcf;
}

#menu a:hover{
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    background-color: #778B90;
}

.active{
    border: 2px solid #cfcfcf;
    border-radius: 5px;
}
#introduction{
    font-size: 130%;
    font-family: 'Barlow Condensed', sans-serif;
    width: 300px;
    height: 450px;

    padding: 20px 15px;

    background-color: #163635;
    border-radius: 15px;

    bottom: 15px;
    right:25px;

    position: absolute;
    text-align: justify;

}

#introduction h2{
    text-transform: uppercase;
    letter-spacing: 3px
}

/*#hero-image{
    height: 900px;
    width: 50%;
    border: solid #cfcfcf;
    border-radius: 15px;
    background: url('../images/hero-image.jpeg') no-repeat center center;
}*/

/*#services{
    height: 200px;
    padding-top: 30px;
    padding-left: 15px;
    margin-bottom: 15px;
}*/



#left-about{
    padding: 30px 30px;

    border:15px;
    width: 33%;
    float: left;
    background-color: #163635;
    border-radius: 15px;
    margin: 15px;

    line-height: 200%;
    text-align: justify;
    
}

#left-about h4{
    text-transform: uppercase;
    letter-spacing: 3px
}
/*#left-about-services{
    text-decoration-line: underline;
}*/


#center-about{
    width: 33%;
    margin:auto;
    background-color: green;
}