@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    color: #cccccc;
}

#content-style{
    min-height: calc(50vh - 200px);
    background-color: #163635;
}
/*headings*/

h1, h2{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #cccccc;
}

h2{
    font-size: 250%;
    margin: 15px 0;
}

header{
    background-color: #163635;
}

.logo-style{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    
}

#logo{
   float: right;
   font-size: 400%;
   margin:15px 15px;
}

#menu{
    font-size: 130%;
    clear: center;
    bottom: 0;
    overflow-x: hidden;
}

#menu li{
    width: 30%;
    display: inline-block;
    text-align: center;
}

#menu a{
    background-color:#163635;
    width: 100%;
    text-decoration: none;
    color: #cccccc;
    display: inline-block;
    padding: 15px;
}

#menu a:hover{
    background-color: #778B90;
}

.active{
    border-bottom: 2px solid #cfcfcf;
}

.content{
    overflow: hidden;
    display: inherit;
}

#about-me{
    font-size: 130%;
    background-color: #163635;
    width: 550px;
    height: 100%;
    border-radius: 15px;

    margin-left: 30px;
    margin-top: 30px;

    text-align: justify;
    padding: 15px;
    line-height: 150%;

    float: left;
}
/*
#profile-picture{
    height: 100%;
    width: 100%;
    border: solid #cfcfcf;
    border-radius: 15px;
    position: relative;

    background: url('../images/gyulakunsagi.png') no-repeat center center;
}
*/

#right-circle{
    width: 300px;
    height: 300px;
    padding: 15px;
    border-style: solid;
    border-color:#163635;
    border-width: 5px;
    float: right;
    border-radius: 15%;
    margin: 0 auto;
    margin:30px 50px;
}

#right-cover{
    background: url('../images/gyulakunsagi.png')no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#services{
    font-size: 130%;
    background-color: #163635;
    
    height: 100%;
    border-radius: 15px;

    margin-left: 15px;
    margin-top:30px;
    margin-bottom: 30px;

    text-align: justify;
    padding: 15px;
    line-height: 150%;
    text-transform: uppercase;
    float:right;
}

/*footer*/

footer {
    overflow: hidden;
    height: 150px;
    background-color: #163635;
    position: relative;
    clear: both;
    border-bottom: 0;
   
}
.social-networks{
    text-align: center;
    
}
.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 150%;
    color: #cccccc;
    margin: 1%
    padding: 5%;
}

.contact-section{
    clear: left;
    background: url("../images/hero-image.jpeg");
    
    background-position: center;
    height: 300px;
}

.contact-form{
    margin: 30px;
    color:#163635;
    background-color: #778B90;
    max-width: 400px;
    position: absolute;
    padding: 15px;
    border-radius: 15px;
}

.text-input{
    width: 100%;
    height: 30px;
    margin: 5px 0 10px 0;
    border: 0.5px solid;
    border-radius: 5px;
}

.message-box{
    width: 100%;
    height: 15px;
}

.contact-button{
    margin-top: 15px;
    text-align: center;
    font-size: 100%;
    background-color: #163635;
    color: #cccccc;
    display: block;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0.5px solid;
}
.contact-button:hover{
    background-color: #163635;
    color: #cccccc;
}
